.search-form {
  min-height: 10vg;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  background-color: #01002D;
  color: #FFFEFE;
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.search-button {
  background-color: #01002D;
  color: #FFFEFE;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
}